.cover {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin: 0 auto;
  justify-content: flex-start;
}

.cover p {
  background: #274d82;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5px;
  height: 6vh;
  border-radius: 5px;
  color: white;
  font-size: 10px;
}

span i {
  margin: 0 5px;
}

.reportName {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 10px auto;
}

.noReports {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 768px) {
  .reports {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .cover {
    width: 42vw;
    padding: 5px;
    border: 1px solid rgb(215, 213, 213);
    border-radius: 5px;
    margin: 10px auto;
    float: left;
  }

  .cover p {
    font-size: 15px;
    width: 90%;
    margin: 15px auto;
  }
  .reportName {
    font-size: 20px;
  }
}
